.sidebar-extension-container{
    position: fixed;
    display:flex;
    flex-direction:column;
    top: 20px;
    right: 30px;
    color: white;
    width:358px;
    height:426px;
    border-radius:8px;
    overflow:hidden;
    background-color:#2B2B2B;
    border:2px solid #2B2B2B;
    z-index: 2147483647;
    box-sizing:border-box;
}

.sidebar-header-container{
    background-color:#2B2B2B;
    color:black;
    height:42px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header-left-container{
    margin-left:10px;
    gap:10px;
    display:flex;
    align-items:center;

}

.logo {
    width: 20px;
    height: 20px;
    border-radius:50%;
    overflow:hidden;
    background-image: url('chrome-extension://jidodiahphhkpiiggcdbcboecemgdeln/assets/sidebar-logo(2).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.extension-name{
    color:white;
    font-size:16px;
    font-weight:500;
}

.header-right-container{
    padding-right:15px;
}

.close-btn{
    color:white;
    font-size:16px;
    font-weight:500;
    cursor:pointer;
}

.sidebar-main-container{
    display:flex;
    flex:1;
    flex-direction: column;
    min-height:0;
    background-color:#0F0E0E;
    border-top-left-radius:14px;
    border-top-right-radius:14px;
    
}

.sidebar-content-div{
    padding-left:20px;
    padding-top:20px;
    flex:1;
    overflow-y:auto;
}

/* chrome , edge , safari */
.sidebar-content-div::-webkit-scrollbar{
    height:0;
    width:0;
}

/* firefox */
.sidebar-content-div{
    scrollbar-width: none;
}

/* older edge */
.sidebar-content-div{
    -ms-overflow-style: none;
}

.sidebar-footer-container{
    height:110px;
    margin-top:10px;
    margin-left:8px;
    margin-right:8px;
    margin-bottom:10px;
    background-color:#2B2B2B;
    border-radius:8px;
    flex-shrink : 0;
}




.sidebar-fade-content-div{
    position:absolute;
    right:0;
    left:0;
    bottom:0;
    height:48px;

    background : linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.9)
    );

    pointer-events:none;
    z-index:5;
}

.sidebar-scroll-wrapper{
    position:relative;
    display:flex;
    flex-direction: column;
    flex:1;
    overflow:hidden;
    min-height:0;
}
